@import 'stylesheets/colorTheme.scss';

.storyContainer {
  height: 100%;
  width: 100%;
}
.topSection,
.bottomSection {
  padding: 15px;
}
.topSection {
  background-color: $clr-app-primary;
  height: 50px;
  width: 100%;
}
.bottomSection {
  height: calc(100% - 80px);
  width: 100%;
}

@media only screen and (max-width: 576px) {
  .topSection {
    height: 100px;
  }
}
