@import 'stylesheets/colorTheme.scss';

.container {
  height: 100%;
  margin-left: 10px;
  width: 100%;
}
.header {
  align-items: center;
  display: flex;
}
.body {
  border-bottom: 2px solid $clr-app-primary;
}
.commentUser {
  margin: 10px 0;
  font-size: 1.5rem;
  margin-right: 15px;
}
.commentData {
  font-size: 1.5rem;
}
.commentText {
  font-size: 1.35rem;
  text-align: left;
  line-height: 20px;
}
