.container {
  height: 100%;
  width: 100%;
}
.header {
  align-items: center;
  display: flex;
  justify-content: center;
}
.body {
  margin-left: 10px;
}
.commentUser {
  margin: 10px 0;
  font-size: 1.5rem;
  margin-right: 15px;
}
.commentData {
  font-size: 1.5rem;
}
.commentText {
  font-size: 1.35rem;
  text-align: center;
  line-height: 20px;
}
