@import 'stylesheets/colorTheme.scss';

.container {
  position: relative;
  height: 100%;
  width: 100%;
}
.topSection {
  align-items: center;
  background-color: $clr-app-primary;
  display: flex;
  height: 50px;
  padding: 15px;
  width: 100%;
}
.goBack {
  color: $clr-app-primary-text;
  cursor: pointer;
  margin-right: 15px;
  font-size: 2.5rem;
  font-weight: bold;
}
.title {
  align-items: center;
  color: $clr-app-primary-text;
  cursor: pointer;
  display: flex;
  height: 100%;
  text-align: center;
  justify-content: center;
}
.bottomSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
}
.storyTitle {
  text-align: center;
}
.error {
  text-align: center;
  padding: 20px;
}
.subInfo {
  p {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 15px;
  }
}
.comments {
  border-bottom: 2px solid $clr-app-primary;
  margin-top: 25px;
  font-size: 2rem;
}
