//color palette

$palette-light-gray: #f3f3f4;
$palette-cap-blue: #53C1DE;
$palette-cap-green: #00c578;
$palette-pure-white: #ffffff;

//color variables
$clr-light-gray-background: $palette-light-gray;
$clr-app-primary: $palette-cap-green;
$clr-app-primary-text: $palette-pure-white;
$clr-app-secondary: $palette-cap-blue;
