@import 'stylesheets/colorTheme.scss';

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.leftSection,
.rightSection {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.leftSection {
  background-color: $clr-light-background;
}
.leftSection,
.rightSection {
  width: 50%;
}
.leftLogo {
  height: 60%;
  width: 60%;
}
.title {
  color: $clr-app-secondary-text;
  font-size: 3.3rem;
  margin-bottom: 20px;
}
.titleContainer {
  text-align: center;
}

@media only screen and (max-width: 576px) {
  .leftSection {
    display: none;
  }
  .rightSection {
    width: 100%;
  }
  .title {
    font-size: 2.5rem;
  }
}
